<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>已選課程</title>
    <body bgcolor="gray"></body>
  </head>
  <body>
    <h1><center><font size="6" color='skyblue' face='微軟正黑體'>已選課程</font></center></h1>
    <!-- add image -->
    
    <img class='test_image' id="test_image" src="{{ url_for('static', filename='image_src/002-boss.png') }}">  
    <!-- <img src="C:\Users\jk520\OneDrive\桌面\png\002-boss.png" alt="My test image">  -->
    <form action="/" method="post">
        <center><input type="submit" name="SB" value="送出表單"></center>
        </form>
  </body>
</html>